doctype html
html(lang="en")
    head
        meta(
          http-equiv="X-UA-Compatible"
          content="IE=edge"
        )
        title= "Telegram боты, каналы и стикеры - Каталог ботов, каналов и стикеров меседжера Telegram"
        link(rel='stylesheet', href='css/jquery.mCustomScrollbar.min.css')
        link(rel='stylesheet', href='css/materialdesignicons.min.css')        
        link(rel='stylesheet', href='css/main.css')
    body
        include header
        include menu
        include footer
        include modal-login

        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/jquery.mCustomScrollbar.concat.min.js")
        script(src="js/app.js")
