.card-header:not(.ch-alt):not([class*=bgm-]) + .card-padding {
  padding-top: 0; }

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
    padding: 25px 27px; } }

.form-group {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; } }

.form-group:after {
  clear: both; }

.form-group:after,
.form-group:before {
  content: " ";
  display: table; }

.text-primary {
  color: #3A6D99; }

.text-danger {
  color: #f6675d; }

.fg-line {
  position: relative;
  vertical-align: top; }

.fg-line:not(.form-group) {
  display: inline-block;
  width: 100%; }

.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control:focus {
  border-bottom-color: #b4b4b4;
  outline: 0; }

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px; }

.fileinput {
  margin-bottom: 9px;
  display: inline-block; }

.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text; }

.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center; }

.fileinput .thumbnail > img {
  max-height: 100%; }

.fileinput .btn {
  vertical-align: middle; }

.fileinput-exists {
  display: none; }

.fileinput .fileinput-preview {
  width: 150px;
  height: 150px;
  position: relative;
  line-height: 150px; }

.fileinput .fileinput-preview img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -13px; }

.fileinput .fileinput-preview:after {
  content: "";
  display: inline-block;
  vertical-align: middle; }

.thumbnail {
  padding: 3px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  transition: border .2s ease-in-out; }

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  height: 100%;
  width: 100%;
  cursor: pointer; }

input[type=file] {
  display: block; }

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none; }

.btn-danger {
  color: #fff;
  background-color: #F44336;
  border-color: #f32c1e; }

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #ea1c0d;
  border-color: #891008; }

.btn-danger:hover {
  color: #fff;
  background-color: #ea1c0d;
  border-color: #c8180b; }

.btn-info {
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #3A6D99;
  border-color: #3A6D99; }

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #417aab;
  border-color: #00343b; }

.btn-info:hover {
  color: #fff;
  background-color: #417aab;
  border-color: #3A6D99; }

.fg-line:not([class*=has-]):after {
  background: #2196F3; }

.fg-line:not(.disabled):after, .fg-line:not(.readonly):after {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  transform: scale(0);
  transition: all;
  transition-duration: .3s; }
