#calendar-widget .fc-day-number,
#footer,
#header .skin-switch,
.actions>a,
.actions>li>a,
.ahs-close,
.contacts .c-footer>button,
.contacts .c-info,
.ie-warning,
.load-more,
.pt-inner,
.pt-inner .pti-footer>a,
.view-more,
.wi-preview,
.wp-media {
    text-align: center
}

.ahs-close,
.lg-slide em {
    font-style: normal
}


.row.cards {
    margin-left: -3px;
    margin-right: -3px
}

.col-card {
    padding-left: 3px;
    padding-right: 3px
}

.col-card .card-btn {
    margin-bottom: 6px;
    height: 160px
}

.card-img {
    border-radius: 50%;
    float: left;
    width: 80px;
    margin-right: 10px
}

@media (max-width:369px) {
    .card-img-xxs {
        float: none;
        display: block;
        margin: 0 auto
    }
}


.block-header {
    margin-bottom: 25px;
    position: relative
}

@media screen and (min-width:768px) {
    .block-header {
        padding: 0 17px
    }
}

@media screen and (max-width:991px) {
    .block-header {
        padding: 0
    }
}

.block-header>h1 {
    font-size: 17px;
    color: #777;
    margin: 0;
    font-weight: 400
}

.block-header>h1>small {
    display: block;
    text-transform: none;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #9E9E9E;
    line-height: 140%
}

.block-header .actions {
    position: absolute;
    right: 10px;
    top: -5px;
    z-index: 4
}

.actions {
    list-style: none;
    padding: 0;
    z-index: 3;
    margin: 0
}

.actions>li {
    display: inline-block;
    vertical-align: baseline
}

.actions>a,
.actions>li>a {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-top: 5px
}

.actions>a>i,
.actions>li>a>i {
    color: #adadad;
    font-size: 20px
}

.actions.open>a>i,
.actions>a:hover>i,
.actions>li.open>a>i,
.actions>li>a:hover>i {
    color: #000
}

.actions.open>a:before,
.actions>li.open>a:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100)
}

.event-tag>span:hover,
.ss-skin:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.actions.actions-alt>li.open>a>i,
.actions.actions-alt>li>a>i,
.actions.actions-alt>li>a>i:hover {
    color: #fff
}

.actions.open {
    z-index: 4
}

.line-wrap {
    width: 18px;
    height: 12px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    margin: 12px 20px
}

.line-wrap .line,
.pt-inner .pti-footer>a {
    -webkit-transition: all;
    -o-transition: all
}

.line-wrap .line {
    width: 18px;
    height: 2px;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background-color: #fff
}

.line-wrap .line.center {
    margin: 3px 0
}

.toggled .line-wrap {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.toggled .line-wrap .line.top {
    width: 12px;
    transform: translateX(8px) translateY(1px) rotate(45deg);
    -webkit-transform: translateX(8px) translateY(1px) rotate(45deg)
}

.toggled .line-wrap .line.bottom {
    width: 12px;
    transform: translateX(8px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg)
}


.ah-search,
html.ismobile .page-loader {
    display: none
}

.ah-label,
.ahs-input {
    font-size: 15px
}

.view-more:hover {
    color: #5E5E5E
}

html:not(.ismobile) .page-loader {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000
}

html:not(.ismobile) .page-loader .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.ah-search,
.ahs-input {
    height: 100%;
    width: 100%
}

html:not(.ismobile) .page-loader .preloader p {
    white-space: nowrap;
    position: relative;
    left: -9px;
    top: 22px;
    color: #CCC
}

.action-header {
    padding: 25px 30px;
    line-height: 100%;
    position: relative;
    z-index: 1;
    min-height: 65px;
    background-color: #F7F7F7
}

.action-header .actions {
    position: absolute;
    top: 18px;
    right: 17px;
    z-index: 10
}

.ah-search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #454E53
}

.ahs-input {
    border: 0;
    padding: 0 26px;
    line-height: 60px;
    background-color: #F7F7F7
}

.ahs-close,
[class*=avatar-img] {
    border-radius: 50%
}

.ahs-close,
.ie-warning p {
    font-size: 17px
}

.ahs-close {
    position: absolute;
    top: 23px;
    right: 25px;
    line-height: 100%;
    cursor: pointer;
    background: #E2E2E2;
    width: 18px;
    height: 18px;
    color: #6B6B6B
}

.ie-warning,
.ma-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%
}

.ahs-close:hover {
    opacity: .8
}

.ma-backdrop {
    width: 100%;
    z-index: 9;
    cursor: pointer
}

#footer,
#footer .f-menu>li>a {
    color: #a2a2a2
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    padding-bottom: 15px
}

@media (min-width:1280px) {
    #footer {
        padding-left: 215px
    }
}

#footer .f-menu {
    display: block;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px
}

#footer .f-menu>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

#footer .f-menu>li>a:hover {
    color: #777
}

.sidebar-toggled #footer {
    display: none
}

.mCSB_scrollTools {
    width: 5px
}

.mCSB_scrollTools .mCSB_dragger_bar {
    border-radius: 0!important
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCSB_scrollTools.mCSB_scrollTools_vertical {
    margin: 0!important
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 10px
}

html:not(.ie9) .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
html:not(.ie9) .mCS-minimal-dark.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
    background: rgba(0, 0, 0, .4)
}

html.ie9 .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
html.ie9 .mCS-minimal-dark.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
    background: #000
}

.mCSB_inside>.mCSB_container {
    margin-right: 0
}