html
	head
		meta(charset='utf-8')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='http://code.highcharts.com/stock/highstock.js')
		script(src='js/stat_all_highstock.js')
		title Statistics
	body
		center
			div#container