div.bots
  div.block-header(
    style="padding-left:17px;"
  )
    h1
      a(href="") Лучшие боты
  div.row.cards
    div.col-card.col-sm-4.col-xs-6.col-md-3.col-lg-20
      a(href="")
        div.card.card-btn
          div.card-header.p-b-5.p-l-15.p-r-10.p-t-15
            div.star-rating-block
              div.star-rating
                div.star-rating-true(style="width: 100%;")
            h2 StoreGram.Metrica - Статистика
            small.hidden-xxs Технологии
          div.card-body.card-padding.descriptiond.p-10
            img.cadr-img.card-img-xxs(
              src="img/bot/@tap2bot.jpg"
            )
            p.description.hidden-xxs Бот для ежедневного сбора статистики твоего канала или группы.
