
.container {

}

.block-header {
  margin-bottom: 25px;
  position: relative;
  padding-left: 17px;
  &>h1 {
    font-size: 17px;
    color: #777;
    margin: 0;
    font-weight: 400;
  }
}

.card .card-header h2 small {
    display: block;
    color: #AEAEAE;
    line-height: 160%;
}

@media screen and (max-width: 991px) {
  .block-header {
      padding: 0;
      padding-left: 17px;
  }
}

@media screen and (min-width: 768px) {
  .card .card-header {
      padding: 25px 27px;
  }
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-bottom: 15px;
    .card-header {
        position: relative;
    }
    h2 {
      color: #777;
      font-weight: 400;
      margin: 0;
      line-height: 100%;
      font-size: 17px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    small {
      color: #AEAEAE;
      line-height: 160%;
    }
    p {

    }
}

.card .card-header h2, .card h2 {
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .card .card-header .card-padding {
      padding: 18px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header {
      padding: 18px;
  }
}

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
      padding: 25px 27px;
  }
}

.card-header:not(.ch-alt):not([class*=bgm-])+.card-padding {
    padding-top: 0;
}

.card-body {
  min-height: 60px;
  img {
    border-radius: 50%;
    float: left; width: 80px;
    margin-right: 15px;
  }
  .comm-qt {
    padding: 1px 105px 2px;
    margin: 0;
    font-size: 13px;
  }
  .star-rating {
    background-image: url(../img/star-outline.png);
    width: 100px;
    float: left;
    height: 20px;
    background-size: contain;
  }
  .star-rating-true {
    width: 100%;
    height: 20px;
    background-size: contain;
    background-image: url(../img/star.png);
  }
}

@media screen and (max-width: 991px) {
  .card .card-body.card-padding {
      padding: 18px;
  }
}

.form-group {
    margin-bottom: 25px;
    .fg-line:not(.form-group) {
      display: inline-block;
      width: 100%;
    }
    .fg-line {
        position: relative;
        vertical-align: top;
    }
    .form-control:not(.fc-alt) {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
    }
    .form-control:not(.fc-alt) {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      appearance: none;
      padding: 0;
    }
    .form-control {
      width: 100%;
      height: 35px;
      padding: 6px 12px;
      background-color: transparent;
      border: 1px solid #e0e0e0;
      border-radius: 0;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      resize: none;
    }
  .form-control, output {
      font-size: 13px;
      line-height: 1.42857143;
      color: #000;
      display: block;
  }
    textarea.form-control {
        height: auto;
    }
    input, textarea, keygen, select, button {
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
    }
    .fg-line:not([class*=has-]):after {
      background: #2196F3;
    }
    .fg-line:not(.disabled):after, .fg-line:not(.readonly):after {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        content: "";
        transform: scale(0);
        -webkit-transition: all;
        transition: all;
        transition-duration: .3s;
      }
}

.text-warning {
  color: #ffa829;
}

.timeago {
  color: #AEAEAE;
}
// CHECKBOX

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none !important;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio label,
.checkbox label {
  min-height: 18px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

.form-inline .radio,
.form-inline .checkbox {
display: inline-block;
margin-top: 0;
margin-bottom: 0;
vertical-align: middle;
}

.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.checkbox label:before,
.radio label:before,
.radio-inline:before,
.checkbox-inline:before {
  transition: all;
  transition-duration: 250ms;
}

.checkbox,
.radio {
  padding-top: 0 !important;
}

.checkbox label,
.radio label {
  display: block;
  padding-left: 30px;
}

.checkbox input,
.radio input {
  top: 0;
  left: 0;
  margin-left: 0 !important;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 0;
}

.checkbox input:checked + .input-helper:before,
.radio input:checked + .input-helper:before {
  border-color: #3a6d99;
}

.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after {
  position: absolute;
  content: "";
}

.checkbox .input-helper:before,
.radio .input-helper:before {
  left: 0;
  border: 2px solid #7a7a7a;
}

.checkbox.disabled,
.radio.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.checkbox input {
  width: 17px;
  height: 17px;
}

.checkbox input:checked + .input-helper:before {
  background-color: #3a6d99;
}

.checkbox input:checked + .input-helper:after {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
}

.checkbox .input-helper:before {
  top: 0;
  width: 17px;
  height: 17px;
  border-radius: 2px;
}

.checkbox .input-helper:after {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  content: '\f26b';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  font-size: 12px;
  left: 2px;
  top: 0;
  color: #fff;
  font-weight: bold;
}

.radio input {
  width: 19px;
  height: 19px;
}

.radio input:checked + .input-helper:after {
  transform: scale(1);
}

.radio .input-helper:before {
  top: -1px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.radio .input-helper:after {
  width: 9px;
  height: 9px;
  background: #3a6d99;
  border-radius: 50%;
  top: 4px;
  left: 5px;
  transform: scale(0);
}

.checkbox-inline,
.radio-inline {
  vertical-align: top;
  margin-top: 0;
  padding-left: 25px;
}

.checkbox-light .input-helper:before,
.radio-light .input-helper:before {
  border-color: #fff;
}

.checkbox-light input:checked + .input-helper:before {
  border-color: #fff;
  background-color: #fff;
}

.checkbox-light input:checked + .input-helper:after {
  color: #333;
}

// CHECKBOX
