html
	head
		title Bot statistics
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://code.highcharts.com/highcharts.js')
		script(src='js/bot_stat.js')
	body
		div#container
	

//- http://localhost:3123/bot_stat