html
	head
		title Bot statistics full
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='http://code.highcharts.com/stock/highstock.js')
		script(src='js/bot_stat_full.js')
	body
		div#container